@use "@/styles/helpers" as helpers;

.post-tile__wrapper {
    flex: 0 0 100%; 
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: rgb(178, 222, 230);
    text-decoration: unset;
    color: unset;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    height: fit-content;

    transition: box-shadow 100ms ease-in-out;

    @include helpers.media-breakpoint(md) {
        flex: 0 0 calc(50% - 0.5rem);
    }

    @include helpers.media-breakpoint(xl) {
        flex: 0 0 calc(33.333% - 0.5rem);
    }

    h2 {
        margin: 0;      
        margin-bottom: 0.5rem;
    }

    &:hover {
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
    }


    .tile-footer__wrapper {
        display: flex;
        justify-content: space-between;

        .updated-at {
            margin: 0;
            margin-top: 0.5rem;
            font-style: italic;
        }

        .read-more {
            margin: 0;
            margin-top: 0.5rem;
            text-decoration: underline;
        }
    }


}