.error__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        padding: 0;
        margin: 0;
        height: fit-content;
        width: fit-content;

        &:hover {
            opacity: 0.5;
        }
    }

    p {
        text-decoration: wavy underline;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.1rem;
        text-decoration-color: black;
    }
}