$light: rgb(245, 245, 245);
$dark: rgb(15, 15, 15);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$test: red;
$medium: #797979;

$themes: (
    light: (text: #333333,
        bg: #ffffff,
        brand: #567567,
    ),
    dark: (text: #ffffff,
        bg: #333333,
        brand: #abcabc,
    ),
);