body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-nimbus-condensed);
}

.text-element__updated-at {
    display: block;
    margin-bottom: 1rem;
    font-style: italic;
}


.dark-theme {
    background-color: #fff;
    color: #000;
    width: fit-content;
    position: relative;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    mix-blend-mode: difference;

    ul {
        margin: 0;
        padding: 0.5rem;
        list-style-type: none;
        width: fit-content;


        a {
            text-decoration: none;

            &:hover {
                opacity: 0.6;
            }
        }

        li {
            padding: 0;
            margin: 0;


            div {
                margin-bottom: 0.1rem;
                line-height: 1em;
            }

            h1 {
                margin: 0;
                margin-bottom: 0.1rem;
            }
        }

        .dark-theme {
            mix-blend-mode: difference;

        }
    }
}