@use "@/styles/helpers" as helpers;

.image__wrapper {
    position: relative;
    width: 100%;
    height: auto;

    img {
        object-fit: contain;
        object-position: left;
        width: auto;
        height: auto;
        position: relative;
    }
}

.image__caption {
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    font-size: 1rem;

    p {
        margin: 0;
    }
}