@use "@/styles/helpers" as helpers;

.images-array__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    @include helpers.media-breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.images-array__caption {
    margin-bottom: 5rem;
}