.text-element__wrapper {
    margin-bottom: 5rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 3rem 0;

    .text-element__container {
        max-width: 600px;
        margin: 0 auto;
    }
}